<div class="sidebar-wrapper">
    <div class="logo">
        <div  class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/exponea.jpg" alt="">
            </div>
            Exponea
        </div>
    </div>
    <ul class="nav">
        <li   class="">
            <a [routerLink]="">
                <i class="fas fa-chart-line"></i>
                <p>Trend</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="fas fa-chart-bar"></i>
                <p>Funnel</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="far fa-clipboard"></i>
                <p>Report</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="fas fa-sync-alt"></i>
                <p>Retention</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="fas fa-ellipsis-v"></i>
                <p>Segmentation</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="fas fa-globe-americas"></i>
                <p>Geo Analysis</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="fas fa-sort-numeric-up"></i>
                <p>Metric</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="fas fa-code"></i>
                <p>HTML</p>
            </a>
        </li>
        <hr>
        <li>
            <a [routerLink]="">
                <i class="far fa-newspaper"></i>
                <p>Simple text</p>
            </a>
        </li>
        <hr>
    </ul>
</div>
