<div class="sidebar-wrapper">
    <div class="logo">
        <div  class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Exponea
        </div>
    </div>
    <ul class="nav">
            <li class="divider"></li>
        <li   class="">
            <a [routerLink]="">
                <i class="{{menuItem.icon}}"></i>
                <p>Trend</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>Funnel</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>Report</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>Retention</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>Segementation</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>Geo Analysis</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>Metric</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>HTML</p>
            </a>
        </li>
        <li>
            <a [routerLink]="">
                <i class=""></i>
                <p>Simple text</p>
            </a>
        </li>
    </ul>
</div>
